<ion-header>
  <ion-toolbar color="primary" >
    <ion-title >
      Pokemon DB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-card>
                  <ion-card-header>
                      <ion-card-title>Search</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Type</ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
                      <div text-right margin-vertical>
                          <ion-button fill="outline" color="danger">
                              <ion-icon name="close" slot="start"></ion-icon>CLEAR
                            </ion-button>
                          <ion-button >
                              <ion-icon name="search" slot="start"></ion-icon>SEARCH
                            </ion-button>
                      </div>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button [routerLink]="['/pokemon-list']">All Pokemon</ion-button>
  </ion-content>
